.text-field{
    -fx-background-radius: 16;
}

.title{
    -fx-text-fill: #222222;
    -fx-font-size: 48;
    -fx-font-weight: bold;
}

.popup{
    -fx-background-color: #F8FAFE;
    -fx-border-color: #02111B;
    -fx-border-width: 2;
}

.errorLabel{
    -fx-text-fill: #BB0000;
    -fx-font-weight: bold;
}

.messageLabel{
    -fx-text-fill: #1d6b10;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: #0A67A3;
    -fx-text-fill: #F3FAFE;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #041D2D;
}

.button:hover{
    -fx-background-color: #24A1F2;
}

.button:pressed{
    -fx-background-color: #041D2D;
}

.menuButton{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 5 0;
}

.avatar{
    -fx-border-color: #02111B;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.userPane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #02111B;
    -fx-border-width: 2;
}

.combo-box{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #041D2D;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: #0A67A3;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2 4;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}